[global_config]
  suppress_multiple_term_dialog = True
[keybindings]
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
    login_shell = True
    autoclean_groups = False
  [[reflex]]
    cursor_color = "#aaaaaa"
    login_shell = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
  [[reflex]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 609:282
      maximised = False
      fullscreen = False
      size = 738, 451
      title = aaron@dell: /projects/reflex-env
      last_active_term = 0cfa2ac3-43b9-4bf4-b1a7-8cf4605c5ab7
      last_active_window = True
    [[[child1]]]
      type = HPaned
      parent = child0
      order = 0
      position = 366
      ratio = 0.49931787175989084
    [[[child2]]]
      type = VPaned
      parent = child1
      order = 0
      position = 299
      ratio = 0.6704035874439462
    [[[child3]]]
      type = VPaned
      parent = child2
      order = 0
      position = 147
      ratio = 0.5
    [[[terminal4]]]
      type = Terminal
      title = Live
      command = ssh -o "StrictHostKeyChecking no" -i .ssh/insecure_rsa vagrant@10.5.0.3;exec bash
      parent = child3
      order = 0
      profile = default
      uuid = 0cfa2ac3-43b9-4bf4-b1a7-8cf4605c5ab7
    [[[terminal5]]]
      type = Terminal
      title = Backup
      command = ssh -o "StrictHostKeyChecking no" -i .ssh/insecure_rsa vagrant@10.5.0.4;exec bash
      parent = child3
      order = 1
      profile = default
      uuid = 44b5d9f4-040f-4c5b-ad26-db381d649fd9
    [[[terminal6]]]
      type = Terminal
      title = Other
      command = ssh -o "StrictHostKeyChecking no" -i .ssh/insecure_rsa vagrant@10.5.0.7;exec bash
      parent = child2
      order = 1
      profile = default
      uuid = 0abe5f37-bfc0-4e6c-b5b6-e680484548f5
    [[[child7]]]
      type = VPaned
      parent = child1
      order = 1
      position = 337
      ratio = 0.7556053811659192
    [[[child8]]]
      type = VPaned
      parent = child7
      order = 0
      position = 223
      ratio = 0.6716867469879518
    [[[child9]]]
      type = VPaned
      parent = child8
      order = 0
      position = 109
      ratio = 0.5
    [[[terminal10]]]
      title = Cluster Producer
      command = ssh -o "StrictHostKeyChecking no" -i .ssh/insecure_rsa vagrant@10.5.0.7 -t 'produce.py --msg "cluster";exec bash'
      type = Terminal
      parent = child9
      order = 0
      profile = default
      uuid = 5369c926-f00e-46f1-a56e-14b94da9db31
    [[[terminal11]]]
      title = Other Producer
      command  = ssh -o "StrictHostKeyChecking no" -i .ssh/insecure_rsa vagrant@10.5.0.7 -t 'produce.py --url "tcp://10.5.0.7:61616" --msg other;exec bash'
      type = Terminal
      parent = child9
      order = 1
      profile = default
      uuid = e73f07dc-1a77-40a9-bd62-2a59f6b4c0aa
    [[[terminal12]]]
      title = Cluster Consumer
      command = ssh -o "StrictHostKeyChecking no" -i .ssh/insecure_rsa vagrant@10.5.0.7 -t 'consume.py;exec bash'
      type = Terminal
      parent = child8
      order = 1
      profile = default
      uuid = dd1fd205-44ff-4406-8448-46bf4068e925
    [[[terminal13]]]
      title = Other Consumer
      command = ssh -o "StrictHostKeyChecking no" -i .ssh/insecure_rsa vagrant@10.5.0.7 -t 'consume.py --url "tcp://10.5.0.7:61616";exec bash'
      type = Terminal
      parent = child7
      order = 1
      profile = default
      uuid = 872a27ba-7a6b-44cc-823d-bdbbf4de3d0c
[plugins]
